body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 980px;
  margin: 2rem auto;
}

.topProducts {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-image: linear-gradient(45deg, #ddd765, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputWithIcon {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f2f2f2;
}

input {
  width: 100%;
  height: 1rem;
  border-radius: 0.3rem;
  border: none;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.numberOfProducts {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2rem;
}

.product {
  display: flex;
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 0 0 0.5rem 0;
}

.productImage {
  width: 10rem;
  height: auto;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.productImage img {
  border-radius: 10px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 0 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

.productMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productId {
  margin: 0 1rem 0 0;
}

.productPrice {
  font-size: 15px;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 0.2rem 0.6rem);
}

.productBrand {
  font-size: 14px;
  background: linear-gradient(90deg, rgba(209,55,105,1) 0%, rgba(227,88,103,1) 49%, rgba(234,105,103,1) 100%);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  width: max-content;
  color:white;
  font-weight: 600;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 2rem;
  border: 1px solid #888;
  width: 30rem;
  border-radius: 1rem;
  position: relative;
}

.modalTitle {
  margin-bottom: 1rem;
} 

.modalInputs {
  display: flex;
  flex-direction: column;
}

.modalInput {
  width: 20rem;
  margin-bottom: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  border: none;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modalButton {
  width: 10rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  background: linear-gradient(90deg, rgba(209,55,105,1) 0%, rgba(227,88,103,1) 49%, rgba(234,105,103,1) 100%);
  color: white;
  cursor: pointer;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  right: 3%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
  .product {
    display: flex;
    flex-direction: column;
  }

  .productMeta {
    flex-direction: column;
    align-items: flex-start;
  }

  .productMeta > p {
    margin-bottom: 0.5rem;
  }

  .productDetails > div, h2 {
    margin: 0 0 1rem 0;
  }
  
  .productOwner {
    word-break: break-word;
  }

  .modal-content {
    width: 20rem;
  }

  .modalInput {
    width: 15rem;
  }

  
}
.loadMore {
  margin: 50px auto 0px;
  display: table;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #ddd765;
}
.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}
